
ADMIN_KEY=1234567890


DISCORD_BOT_TOKEN=
DISCORD_CLIENTID=
DISCORD_CLIENTSECRET=
DISCORD_REDIRECT_URI=
GUILD_ID=


BETA_ROLE_IDS=


PORT=80
PROD=false
MAINTENANCE=false
FREE_SHOP=false
ALLOWREWARDS=true
VBUCKS_PER_KILL=100
VBUCKS_PER_WIN=500
CURRENT_VERSION=10
